<header class="SiteHeader">
  <div class="wrapper">
    <header>
      <div class="SiteHeader__Logo">
        <a href="/">
          <svg viewBox="0 0 289 50"><use xlink:href="{{ '/assets/logo.svg#labs' | relative_url }}"></use></svg>
        </a>
      </div>
    
      <div class="SiteHeader__GitHub">
        <a rel="me" href="{{ site.github.owner_url }}" title="GitHub">
          <svg viewBox="0 0 16 16"><use xlink:href="{{ '/assets/social-icons.svg#github' | relative_url }}"></use></svg>
        </a>
      </div>
    </header>
    <section>
      <article class="SiteHeader__Project">
        <h1 class="SiteHeader__Title">><span class="SiteHeader__TitleUnderscore">_</span></h1>
        <p class="SiteHeader__Desc">This is the space for our experimentations and projects meant to help us in our work.<br />May they help you too.</p>
      </article>
      <aside class="SiteHeader__ProjectImage">
        <img src="{{ site.image | default: 'assets/img/default.png' | relative_url }}" />
      </aside>
    </section>
  </div>
</header>
