@charset "utf-8"

$brand-color:           #3D50E1 !default
$brand-color-light:     lighten($brand-color, 5%) !default
$brand-color-dark:      darken($brand-color, 35%) !default

$icon-color: #CBCEE0 !default

$site-title-color:      $brand-color-light !default

$text-color:            #FFFFFF !default
$dark-text-color: #908E9A !default
$background-color:      #0C102D !default
$dark-background-color: #050716 !default
$code-background-color: #292C3E !default

$link-base-color:       #3D50E1 !default
$link-visited-color:    $link-base-color !default
$link-hover-color:      $text-color !default

$border-color-01:       #292C3E !default
$border-color-02:       $brand-color-light !default
$border-color-03:       $brand-color !default

$table-text-color:      $text-color !default
$table-zebra-color:     lighten($background-color, 4%) !default
$table-header-bg-color: lighten($background-color, 10%) !default
$table-header-border:   lighten($background-color, 21%) !default
$table-border-color:    $border-color-01 !default

// Syntax highlighting styles should be adjusted appropriately for every "skin"
// List of tokens: https://github.com/rouge-ruby/rouge/wiki/List-of-tokens
// Some colors come from Material Theme Darker:
// https://github.com/material-theme/vsc-material-theme/blob/master/scripts/generator/settings/specific/darker-hc.ts
// https://github.com/material-theme/vsc-material-theme/blob/master/scripts/generator/color-set.ts
// ----------------------------------------------------------------------------

@import "labs/highlight"
