<!DOCTYPE html>
<html lang="en">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="Content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <aside class="Contributors">
      <div class="wrapper">
        <h2>Contributors</h2>
        <ul>
          {% for contrib in site.github.contributors %}
          <li><a target="_blank" rel="nofollow" href="{{ contrib.html_url }}"><img title="{{ contrib.login }}" src="{{ contrib.avatar_url }}" /></a></li>
          {% endfor %}
        </ul>
      </div>
    </aside>

    {%- include footer.html -%}

  </body>

</html>
